# Listas

<span style="color: red;"><b>Todos os exercícios são feitos partindo-se do pressuposto de que todas as entradas são dadas de forma correta. Casos limite não mencionados no enunciado não são abordados porque não fazem parte do exercício.</b></span>

#### 1. Faça um Programa que leia as vendas dos vendedores, mostre a venda de cada vendedor com o seu nome e a média de vendas.

In [1]:
vendas = [1000, 1500, 1200, 1300]
vendedores = ["Fulano", "Beltrano", "Ciclano", "Lira"]

for nome_vendedor, venda in zip(vendedores, vendas):
    print(f"{nome_vendedor} vendeu R${venda:.2f}")

Fulano vendeu R$1000.00
Beltrano vendeu R$1500.00
Ciclano vendeu R$1200.00
Lira vendeu R$1300.00

#### 2. Faça um Programa que crie uma lista com as médias de cada aluno, imprima as médias de cada aluno e a quantidade de alunos com média maior que 7.

In [5]:
alunos = ["José", "Joana", "Maria", "Carla", "Mauricio", "Andre", "Tiago", "Enzo", "Amanda", "Alessandra"]
notas = [
    [10, 9, 8, 8],
    [9, 7, 6, 4],
    [10, 10, 10, 10],
    [5, 3, 10, 9],
    [7, 6, 6, 6],
    [7, 7, 8, 7],
    [7, 7, 7, 9],
    [8, 5, 6, 7],
    [10, 9, 7, 4],
    [10, 1, 3, 3],
]

media_alunos = []
qtd_alunos_com_media_maior_que_7 = 0
for nota in notas:
    media_alunos.append((nota[0] + nota[1] + nota[2] + nota[3]) / 4)

for media_aluno, nome_aluno in zip(media_alunos, alunos):
    print(f"Aluno {nome_aluno} média: {media_aluno:.2f}")
    if media_aluno > 7:
        qtd_alunos_com_media_maior_que_7 += 1
print(f"Quantidade de alunos com média maior que 7: {qtd_alunos_com_media_maior_que_7}")

Aluno José média: 8.75
Aluno Joana média: 6.50
Aluno Maria média: 10.00
Aluno Carla média: 6.75
Aluno Mauricio média: 6.25
Aluno Andre média: 7.25
Aluno Tiago média: 7.50
Aluno Enzo média: 6.50
Aluno Amanda média: 7.50
Aluno Alessandra média: 4.25
Quantidade de alunos com média maior que 7: 5

#### 3. Foram anotadas as idades e salários de 30 funcionários. Faça um programa que determine quantos funcionários com mais de 25 anos possuem salário inferior à média de todos os salários.

In [9]:
idades = [35,32,50,33,48,50,33,48,22,49,35,38,20,47,49,48,34,21,48,44,48,30,25,42,42,23,25,23,38,35]
salarios = [3739,2219,3554,3978,4014,3270,4792,3879,2981,2384,4826,2460,3680,4318,1872,1770,4640,3929,3295,1729,3965,4267,4007,1916,2987,2943,3852,4543,2055,1730]

media_salarios = sum(salarios) / len(salarios)
print(media_salarios)
qtd_funcionarios_com_idade_maior_que_25_com_salario_inferior_a_media = 0
for idade, salario in zip(idades, salarios):
    if idade > 25 and salario < media_salarios:
        qtd_funcionarios_com_idade_maior_que_25_com_salario_inferior_a_media += 1
print(qtd_funcionarios_com_idade_maior_que_25_com_salario_inferior_a_media)

3319.8
12

#### 4.Em quais meses a média de temperatura foi maior do que a média nacional?

In [10]:
meses = [
    'Janeiro',
    'Fevereiro',
    'Março',
    'Abril',
    'Maio',
    'Junho',
    'Julho',
    'Agosto',
    'Setembro',
    'Outubro',
    'Novembro',
    'Dezembro'
]

temperaturas = [30, 29, 28, 28, 25, 26, 20, 21, 19, 25, 27, 32]

media = sum(temperaturas) / len(temperaturas)

for mes, temperatura in zip(meses, temperaturas):
    if temperatura > media:
        print(mes)

Janeiro
Fevereiro
Março
Abril
Junho
Novembro
Dezembro

#### 5. As Organizações Tabajara resolveram dar um abono aos seus colaboradores em reconhecimento ao bom resultado alcançado durante o ano que passou. Para isto contratou você para desenvolver a aplicação que servirá como uma projeção de quanto será gasto com o pagamento deste abono.
<pre>Após reuniões envolvendo a diretoria executiva, a diretoria financeira e os representantes do sindicato laboral, chegou-se a seguinte forma de cálculo:
. Cada funcionário receberá o equivalente a 20% do seu salário bruto de dezembro;
. O piso do abono será de 100 reais, isto é, aqueles funcionários cujo salário for muito baixo, recebem este valor mínimo; 

Neste momento, não se deve ter nenhuma preocupação com colaboradores com tempo menor de casa, descontos, impostos ou outras particularidades. O programa deverá calcular o valor do abono concedido a cada colaborador, de acordo com a regra definida acima. Ao final, o programa deverá apresentar:</pre>
<pre>
O salário de cada funcionário, juntamente com o valor do abono;
O número total de funcionário processados;
O valor total a ser gasto com o pagamento do abono;
O número de funcionário que receberá o valor mínimo de 100 reais;
O maior valor pago como abono; A tela abaixo é um exemplo de execução do programa, apenas para fins ilustrativos.
<pre>
Projeção de Gastos com Abono
============================ 
 
Salário: 1000
Salário: 300
Salário: 500
Salário: 100
Salário: 4500
Salário: 0
 
Salário    - Abono     
R$ 1000.00 - R$  200.00
R$  300.00 - R$  100.00
R$  500.00 - R$  100.00
R$  100.00 - R$  100.00
R$ 4500.00 - R$  900.00
 
Foram processados 5 colaboradores
Total gasto com abonos: R$ 1400.00
Valor mínimo pago a 3 colaboradores
Maior valor de abono pago: R$ 900.00

In [6]:
lista_salarios = [1000, 300, 500, 200, 1500, 3000, 3400, 5000, 7000, 2000, 600, 800, 250, 1500, 20000]
abonos = []

for salario in lista_salarios:
    if salario * 0.20 < 100:
        abonos.append(100)
    else:
        abonos.append(salario * 0.20)
print(abonos)
for salario, abono in zip(lista_salarios, abonos):
    print(f"Salário: {salario:.2f} - Abono: R${abono:.2f}")
print(f"Número de funcionários processados: {len(lista_salarios)}")
print(f"Valor total a ser gasto com o pagamento do abono: R${sum(abonos):.2f}")
print(f"Quantidade de funcionários que será pago o valor mínimo de 100 reais: {abonos.count(100)}")
print(f"Maior valor pago como abono: R${max(abonos):.2f}")

[200.0, 100, 100.0, 100, 300.0, 600.0, 680.0, 1000.0, 1400.0, 400.0, 120.0, 160.0, 100, 300.0, 4000.0]
Salário: 1000.00 - Abono: R$200.00
Salário: 300.00 - Abono: R$100.00
Salário: 500.00 - Abono: R$100.00
Salário: 200.00 - Abono: R$100.00
Salário: 1500.00 - Abono: R$300.00
Salário: 3000.00 - Abono: R$600.00
Salário: 3400.00 - Abono: R$680.00
Salário: 5000.00 - Abono: R$1000.00
Salário: 7000.00 - Abono: R$1400.00
Salário: 2000.00 - Abono: R$400.00
Salário: 600.00 - Abono: R$120.00
Salário: 800.00 - Abono: R$160.00
Salário: 250.00 - Abono: R$100.00
Salário: 1500.00 - Abono: R$300.00
Salário: 20000.00 - Abono: R$4000.00
Número de funcionários processados: 15
Valor total a ser gasto com o pagamento do abono: R$9560.00
Quantidade de funcionários que será pago o valor mínimo de 100 reais: 4
Maior valor pago como abono: R$4000.00

#### 6. Faça um programa que carregue uma lista com os modelos de cinco carros (exemplo de modelos: FUSCA, GOL, VECTRA etc). Carregue uma outra lista com o consumo desses carros, isto é, quantos quilômetros cada um desses carros faz com um litro de combustível. Calcule e mostre:
<pre>
a. O modelo do carro mais econômico;
b. Quantos litros de combustível cada um dos carros cadastrados consome para percorrer uma distância de 1000 quilômetros e quanto isto custará, considerando um que a gasolina custe R$ 2,25 o litro. Abaixo segue uma tela de exemplo. O disposição das informações deve ser o mais próxima possível ao exemplo. Os dados são fictícios e podem mudar a cada execução do programa.</pre>
```
Comparativo de Consumo de Combustível

Veículo 1
Nome: fusca
Km por litro: 7
Veículo 2
Nome: gol
Km por litro: 10
Veículo 3
Nome: uno
Km por litro: 12.5
Veículo 4
Nome: Vectra
Km por litro: 9
Veículo 5
Nome: Peugeout
Km por litro: 14.5

Relatório Final
 1 - fusca           -    7.0 -  142.9 litros - R$ 321.43
 2 - gol             -   10.0 -  100.0 litros - R$ 225.00
 3 - uno             -   12.5 -   80.0 litros - R$ 180.00
 4 - vectra          -    9.0 -  111.1 litros - R$ 250.00
 5 - peugeout        -   14.5 -   69.0 litros - R$ 155.17
O menor consumo é do peugeout.
```

In [25]:
veiculos = ['fusca','gol', 'uno', 'vectra', 'peugeot']
autonomias = [7, 10, 12.5, 9, 14.5]

print('Comparativo de Consumo de Combustível:')
for veiculo, autonomia in zip(veiculos, autonomias):
    print(f'Veículo {veiculos.index(veiculo) + 1}: {veiculo} - Autonomia: {autonomia:.2f} km/l')
print("\n")
print('Relatório Final')
consumo_1000_km = []
menor_consumo = 0.0
for autonomia in autonomias:
    consumo_1000_km.append(autonomia * 1000)
    menor_consumo = min(consumo_1000_km)
valor_a_ser_pago = []
for consumo in consumo_1000_km:
    valor_a_ser_pago.append(consumo * 2.25)

for veiculo, autonomia, consumo, valor in zip(veiculos, autonomias, consumo_1000_km, valor_a_ser_pago):
    print(f'{veiculos.index(veiculo) + 1} - {veiculo} - {autonomia:.2f} km/l - {consumo:.2f} litros - R$ {valor:.2f}')
print(f'Veículo com menor consumo: {veiculos[consumo_1000_km.index(menor_consumo)]}')

Comparativo de Consumo de Combustível:
Veículo 1: fusca - Autonomia: 7.00 km/l
Veículo 2: gol - Autonomia: 10.00 km/l
Veículo 3: uno - Autonomia: 12.50 km/l
Veículo 4: vectra - Autonomia: 9.00 km/l
Veículo 5: peugeot - Autonomia: 14.50 km/l


Relatório Final
1 - fusca - 7.00 km/l - 7000.00 litros - R$ 15750.00
2 - gol - 10.00 km/l - 10000.00 litros - R$ 22500.00
3 - uno - 12.50 km/l - 12500.00 litros - R$ 28125.00
4 - vectra - 9.00 km/l - 9000.00 litros - R$ 20250.00
5 - peugeot - 14.50 km/l - 14500.00 litros - R$ 32625.00
Veículo com menor consumo: fusca

#### 7. Uma empresa paga seus vendedores com base em comissões. O vendedor recebe \\$200 por semana mais 9 por cento de suas vendas brutas daquela semana. Por exemplo, um vendedor que teve vendas brutas de \\$3000 em uma semana recebe \\$200 mais 9 por cento de \\$3000, ou seja, um total de \\$470. Escreva um programa (usando um array de contadores) que determine quantos vendedores receberam salários nos seguintes intervalos de valores:
<pre>
$200 - $299
$300 - $399
$400 - $499
$500 - $599
$600 - $699
$700 - $799
$800 - $899
$900 - $999
$1000 em diante
</pre>

Existem várias formas de fazer. Faça primeiro da forma que parecer mais intuitiva para você.

Em seguida, caso queira um desafio:
Desafio: Crie uma forma para chegar na posição da lista a partir do salário, sem fazer vários ifs aninhados.

In [9]:
vendas = [1000, 2000, 3000, 4000, 5000, 6000, 5500, 4500, 3600]

salarios = []
for venda in vendas:
    salarios.append(200 + venda * 0.09)

contador = [0] * 9

for salario in salarios:
    if 200 <= salario <= 299:
        contador[0] += 1
    elif 300 <= salario <= 399:
        contador[1] += 1
    elif 400 <= salario <= 499:
        contador[2] += 1
    elif 500 <= salario <= 599:
        contador[3] += 1
    elif 600 <= salario <= 699:
        contador[4] += 1
    elif 700 <= salario <= 799:
        contador[5] += 1
    elif 800 <= salario <= 899:
        contador[6] += 1
    elif 900 <= salario <= 999:
        contador[7] += 1
    else:  # 1000 em diante
        contador[8] += 1

print(contador)

[1, 1, 1, 2, 3, 1, 0, 0, 0]